* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100vh;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
}

h1 {
    color: purple;
}